
<div class="well">
    @Html.ActionLink(linkText: "Ir al ejercicio 1", actionName: "Ejercicio1", controllerName: "Empresa", routeValues: new { id = 5 }, htmlAttributes: null)
</div>
<div class="well">
    @Html.ActionLink(linkText: "Ir al ejercicio 2", actionName: "Ejercicio2", controllerName: "Empresa", routeValues: new { id = 5 }, htmlAttributes: null)
</div>
<div class="well">
    @Html.ActionLink(linkText: "Ir al ejercicio 3", actionName: "Ejercicio3", controllerName: "Empresa", routeValues: new { id = 5 }, htmlAttributes: null)
</div>
<div class="well">
    @Html.ActionLink(linkText: "Ir al ejercicio 4", actionName: "Ejercicio4", controllerName: "Empresa", routeValues: new { id = 5 }, htmlAttributes: null)
</div>
<div class="well">
    @Html.ActionLink(linkText: "Ir al ejercicio 5", actionName: "Ejercicio5", controllerName: "Empresa", routeValues: new { id = 5 }, htmlAttributes: null)
</div>